<div class="about">
    <div class="wrapper">
    <h2 id="about">About</h2>

    <div class="icons">
        <div class="icons-left">
            <img src="img/1star.png">
            <img src="img/2tag.png">
            <img src="img/3bulb.png">
        </div>
        <div class="face"></div>
        <div class="icons-right">
            <img src="img/4camera.png">
            <img src="img/5music.png">
            <img src="img/6heart.png">
        </div>

    </div>

    <div class="about-text">
        <p>
            Death weeks early had their and folly timed put. Hearted forbade on an village ye in fifteen. Age attended
            betrayed her man raptures laughter. Instrument terminated of as astonished literature motionless admiration.
            The affection are determine how performed intention discourse but. On merits on so valley indeed assure of.
            Has add particular boisterous uncommonly are. Early wrong as so manor match. Him necessary shameless
            discovery consulted one but.
        </p>
    </div>

    <div class="about-stuff">
        <div class="stuff-left">
            <ul><span>I really like:</span>
                <li>coding</li>
                <li>getting ideas</li>
                <li>rocking <img class="rock" src="img/rock.png"> </li>
            </ul>
        </div>
        <div class="stuff-right">
            <ul><span>Aaaaand:</span>
                <li>visual arts</li>
                <li>music</li>
                <li>black cats</li>
            </ul>
        </div>
    </div>
    </div>
</div>

<section class="cat">
    <div class="wrapper">
    <blockquote>
        Fashion basics - Little&nbsp;Black&nbsp;Kitty. <br>
        Chic. Goes with everything.
    </blockquote>
    </div>
</section>