<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }} | {{ site.name }} {% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <meta property="og:title" content="Blog by Olga" />
    <meta property="og:type" content="blog" />
    <meta property="og:url" content={{ "/index.html" | prepend: site.baseurl }} />
    <meta property="og:image" content= {{ "/img/avatar.jpeg" | prepend: site.baseurl}} />
    <meta property="og:description" content="Client Based Web Programming at LNU" />

    <link rel="author" href="humans.txt" />
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}" />
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
</head>
